* {
    box-sizing: border-box;
}


.img-box {
  background-color: gray;
  min-width: 200px;
  width: 200px;
  height: 200px;
  transition: 0.2s;
  overflow: hidden;
  border-radius: 5px;
}

.item-img {
  min-width: 200px;
  width: 200px;
  height: 200px;
  transition: 0.4s;
}

.item-img:hover {
  transform: scale(1.25);
}

.card-body {
  background-image: linear-gradient(to bottom right, #d0e5fb, #fff);
}

.card-header {
  background-image: linear-gradient(to bottom left, #d0e5fb, #fff);
}

.cart-count-text {
  color: blue;
}

.navbar {
  margin: 10px 0;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  list-style: none;
  border-bottom: 1px solid #a3a3a3;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  color: #454545;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
}

.navbar ul li.active a {
  color: blue;
  font-weight: bold;
}

.edit-item-block {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.edit-form {
  width: 100%;
  border: 1px solid #cac7c7;
  padding: 30px;
  border-radius: 5px;
}

.item-img:hover {
  transform: scale(1.25);
}

ul {
  list-style: square;
}

.jumbotron {
  background-color: #d0e5fb !important;
}

.item {
  border-bottom: 1px solid #454545;
}

.aura1 {
  background-image: url("../assets/hyundai-aura-15203.jpg");
}

.aura2 {
  background-image: url("../assets/hyundai-creta-15490.jpg");
}

.aura3 {
  background-image: url("../assets/hyundai-elantra-15111.jpg");
}

.aura4 {
  background-image: url("../assets/hyundai-grand-i10-nios-14990.jpg");
}

.aura5 {
  background-image: url("../assets/hyundai-i20-16085.jpg");
}

.aura6 {
  background-image: url("../assets/hyundai-kona-electric-14934.jpg");
}

.aura7 {
  background-image: url("../assets/hyundai-santro-14509.jpg");
}

.aura8 {
  background-image: url("../assets/hyundai-venue-14865.jpg");
}

.aura9 {
  background-image: url("../assets/hyundai-tucson-15706.jpg");
}

.aura10 {
  background-image: url("../assets/hyundai-verna-15541.jpg");
}